[submodule "tips-for-scaling-express-api"]
	path = tips-for-scaling-express-api
	url = https://github.com/pleb-devs/tips-for-scaling-express-api.git
[submodule "developing-cln-plugins"]
	path = developing-cln-plugins
	url = https://github.com/pleb-devs/developing-cln-plugins.git
[submodule "ndk-basics"]
	path = ndk-basics
	url = https://github.com/pleb-devs/ndk-basics.git
[submodule "nextjs_nostr_app_ndk_template"]
	path = nextjs_nostr_app_ndk_template
	url = https://github.com/pleb-devs/nextjs_nostr_app_ndk_template
[submodule "nwc-wallet-workshop"]
	path = nwc-wallet-workshop
	url = git@github.com:pleb-devs/nwc-wallet-workshop.git
